html,body
{
    overflow-x: hidden; 
}

/*navbar*/

.navbar-nav > li{
  padding-left:30px;
  padding-right: 30px;
  font-size: 1.3em;
   
}
.navbar-brand{
  padding-left: 20px;
  padding-right: 30px;
}

.navbar{
    background-color: transparent;
    box-shadow: 0px 1px 50px #999;
}

.navbar-brand{
  font-size: 1.9em;
}

.ml-auto .nav-link{
  margin-right: 20px;

}
.glypicon{
  padding-left: 10px;

}

.nav-link:hover {
  background-color:#1a1a1a;
  font-size: 27px;
}
.active .nav-link {
  border-bottom: 0.4px solid white;
}

.underlinehover {
    display: inline-block;
}
.underlinehover:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
 }
 .underlinehover:hover:after {
    width: 100%;
    background: white;
 }

/*navbar ends*/


/* Register Form starts*/
body {
    background-color: #f1f1f1;
    background-image: url('backgroundimg.png');
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: cover;
  }
  
#regForm {
	background-color: #ffffff;
	margin: 100px auto;
	font-family: Raleway;
	padding: 40px;
	width: 50%;
	min-width: 300px;
  }
  #emailAlert{
      color:red;
  }
  .title{
	  color: #636363;
	  text-align: center;
	  font-size: 26px;
	  margin-top: 0;
  }
  .form-group {
	  margin-bottom: 20px;
  }
  .tab .form-control {
	  min-height: 38px;
	  padding-left: 5px;
	  box-shadow: none !important;
	  border-width: 0 0 1px 0;
	  border-radius: 0;
  }
  .tab2 .form-control {
	  min-height: 38px;
	  padding-left: 5px;
	  box-shadow: none !important;
	  border-width: 0 0 1px 0;
	  border-radius: 0;
  }
  input {
	padding: 10px;
	/*width: 100%;*/
	
	font-family: Raleway;
  
  }
  
  /* Mark input boxes that gets an error on validation: */
  
  
  /* Hide all steps by default: */
  
  .tab .form-control {
	  min-height: 38px;
	  padding-left: 5px;
	  box-shadow: none !important;
	  border-width: 0 0 1px 0;
	  border-radius: 0;
  }
  .tab2 .form-control {
	  min-height: 38px;
	  padding-left: 5px;
	  box-shadow: none !important;
	  border-width: 0 0 1px 0;
	  border-radius: 0;
  }
  .tab .form-control:focus {
	  border-color: #ccc;
  }
  .tab2 .form-control:focus {
	  border-color: #ccc;
  }
  .form-control, .form-control:focus, .input-group-addon {
	  border-color: #e1e1e1;
	  border-radius: 0;
	  color: #999;
  }
  .tab .input-group-addon {
	  max-width: 42px;
	  text-align: center;
	  background: none;
	  border-bottom: 1px solid #ced4da;
	  padding-right: 5px;
	  border-radius: 0;
  }
  
  .tab2 .input-group-add-on {
	  max-width: 42px;
	  text-align: center;
	  background: none;
	  border-bottom: 1px solid #e1e1e1;
	  padding-left: 5px;
  }
  .tab .fa {
	  font-size: 21px;
	  position: relative;
	  top: 6px;
  }
  .tab2 .fa {
	  font-size: 21px;
	  position: relative;
	  top: 8px;
  }
  .tab2 .fa-check {
	  color: #fff;
	  left: 9px;
	  top: 18px;
	  font-size: 7px;
	  position: absolute;
  }
  .form-control, .form-control:focus, .input-group-add-on {
	  border-color: #e1e1e1;
	  border-radius: 0;
	  color: #999;
  }

  select{
	outline: none;
	min-height: 38px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
	border-color: #e1e1e1;
	color: #999;
  }
  .input-group-grad-cap{

	border-color: #e1e1e1;
	border-radius: 0;
	color: #999;
	max-width: 55px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #ced4da;
	padding-bottom: 10px;
  }


  button {
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
	margin: 10px;
  }
  
  button:hover {
	opacity: 0.8;
  }
  
  #prevBtn {
	background-color: #bbbbbb;
  }
  /* Register form ends*/

  /*Security Question form Starts*/
  
  #SecurityForm{
	background-color: #ffffff;
	margin: 100px auto;
	font-family: Raleway;
	padding: 40px;
	width: 40%;
	min-width: 300px;
	
  }
  .security-section .hint-text {
	  float: right;
	  padding-top: 5px;
	  font-size: 13px;  
  }

  .security-section label {
	  font-weight: 500;
	  font-size: 20px;
	  color: #636363;
  }
  .security-section  .form-control {
	  min-height: 38px;	
	  box-shadow: none !important;
	  border-width: 0 0 1px 0;
	  border-radius: 0;
  }
  .security-section .form-control:focus {
	  border-color: #ccc;
  }
  .security-section .input-group{
	display: block;
  	margin-right: auto;
	margin-left: auto;
	max-width: 300px;  
	
  }
  
  .form-row .alert{
	display: block;
  	margin-right: auto;
	margin-left: auto;
  }
  #security-error-alert-message{
	  display: none;
  }
  #blank-alert-message{
      display: none;
  }
  #collegeNameAlert{
	  color:red;
  }
  #confPasswordAlert{
	  color:red;
  }
  .reset-button{
	margin: 5px;  
	padding: 3.5px 25px ;
	font-size: 20px;
	
  }
  .register-button{
	margin:5px;
	padding: 4px 14px;
	font-size: 20px;
  }
 

  @media screen and (min-width: 603px) {
	.button-center-align{
		display: flex;
		justify-content: center;
		align-items: center;
	  }
}	
/*Security Question form Ends*/  
