/*navbar*/

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1em;
  }
  
  .navbar-brand {
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 0;
  }
  
  .navbar {
    background-color: rgb(0, 0, 0);
    opacity: 0.88;
    box-shadow: 0px 1px 50px #999;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  .navbar-brand {
    font-size: 1.5em;
  }
  
  .ml-auto .nav-link {
    margin-right: 20px;
  }
  
  .glypicon {
    padding-left: 10px;
  }
  
  .nav-link:hover {
    background-color: #1a1a1a;
    font-size: 19px;
  }
  
  .active .nav-link {
    border-bottom: 2px solid #2d9cc2;
  }
  
  .underlinehover {
    display: inline-block;
  }
  
  .underlinehover:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  
  .underlinehover:hover:after {
    width: 100%;
    background: #2d9cc2;
  }
  
  /*navbar ends*/
  

.div1{
    text-align: center;
    margin: 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 22px;
    border: 0.5px solid #ccc;
    padding:5px;
    -webkit-box-shadow: 1px 1px 25px 0px rgba(107,104,107,1);
-moz-box-shadow: 1px 1px 25px 0px rgba(107,104,107,1);
box-shadow: 1px 1px 25px 0px rgba(107,104,107,1);
}

#subject1-row1{
    margin-top: 10px;
}
#subject1-row2{
    margin-top: 10px;
}
.row1{
    /*margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;*/
    height: 100px;
    margin: auto;
}
.row2{
    /*margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;*/
    height: 100px;
    margin: auto; 
  
}

.topic{
    
    color: blue;
    background-color: black;
    height: 100px;
}

#subject2-row1{
    margin-top: 100px;
    
}
#subject2-row2{
    margin:10px;
}
#subject2-row3{
    margin:10px;
}
#subject3-row1{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#subject3-row2{
    margin:10px;
}
#subject3-row3{
    margin:10px;
}

/*carousel start*/

.container { 
    align-self: center;
}
 
  
#carouselExampleIndicators {
   
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    border-color: black; 
    border-style: solid;
    border-width: 1px;
}
   
.carousel-inner .carousel-item {
    color: rgb(122, 121, 121);
    }

.carousel-indicators {
    text-align: center;
    font-size: 1em;
   
 }
   

/*carousel end*/
      
/*button start*/
       
 #btn1 {
     background-color:#2d9cc2;
    border: none;
    color: white;
    padding-bottom: 0.2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-style: solid;
    width: 8em;
    border-width: 1px;
    margin: 10px;
    border-radius: 8em;
    outline: none; 
    font-weight: bolder;
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    -webkit-transition: width 0.7s, height 0.7s; 
    -o-transition: width 0.7s;
    border-color: #2d9cc2;
    cursor: pointer;  
    transition: 0.2s all; 
    margin-left: 3%;
}
#btn1:active { 
    transform: scale(0.98); 
} 
        
#btn2 {
    background-color:white;   
    padding-bottom: 0.2%;      
    border: none;         
    color: black;
    text-align: center;        
    text-decoration: none;         
    display: inline-block;         
    font-size: 1em;          
    border-style: solid;          
    width: 4em;
    border-width: 1px;
    margin: 10px;
    border-radius: 8em;
    outline: none; 
    font-weight: bolder;
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    -webkit-transition: width 0.7s, height 0.7s; 
    -o-transition: width 0.7s;
    border-color: #2d9cc2;
    cursor: pointer;  
    transition: 0.2s all; 
}

#btn2:active { 
    transform: scale(0.98); 
    } 

#btn3 {
    background-color:white;
    border: none;
    color: black;
    padding-bottom: 0.2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-style: solid;
    width: 4em;
    border-width: 1px;
    margin: 10px;
    border-radius: 8em;
    outline: none; 
    font-weight: bolder;
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    -webkit-transition: width 0.7s, height 0.7s; 
    -o-transition: width 0.7s;
    border-color: #2d9cc2;
    cursor: pointer;  
    transition: 0.2s all; 
}
        
#btn3:active { 
    transform: scale(0.98);  
    } 
/*button end*/
/*
@media screen and (max-width:432px){

    .topic{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }
    .carousel-inner .carousel-item{
        height: 600px;

    }
    #subject1{
    margin-top: 40px;
    
    }
    #subject2-row1{
    margin: 10px;
    
    }
    #subject2-row2{
        margin:10px;
    }
    #subject3-row1{
        margin: 10px;
    }
    #subject3-row1{
        margin-top: 10px;
    }
    .divsize2{
        height:80px;
    }
    .divsize3{
        height: 45px;
    }
}*/
.card{
    margin-bottom: 40px;
    border-color: rgb(45, 156, 194);

}
.card2 {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
    margin: 10px;

  }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    
  }
  .topic3{
      display: block;
  }
  .line-break {
    width: 100%;
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  
  /* items */
  
  .grid-1 div {
    color: white;
    bac
    font-size: 20px;
    padding: 20px;
    }
.card-title{
    font-size: 16px;
}
@media only screen and (max-width:432px){
    .card{
        margin: 20px;
    }
    .card-img{
        width: 30px;
        height: 30px;
        float: right;
    }
    .carousel-inner .carousel-item{
        height: 100%;
    }
    .div1{
        font-size: 20px;
        margin: 15px;
        padding:10px;   
    }
}

