.div1{
    text-align: center;
    margin: 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 22px;
    border: 0.5px solid #ccc;
    padding:5px;

}

#subject1-row1{
    margin-top: 10px;
}
#subject1-row2{
    margin-top: 10px;
}
.row1{
    /*margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;*/
    height: 100px;
    margin: auto;
}
.row2{
    /*margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;*/
    height: 100px;
    margin: auto; 
}

.topic{
    
    color: blue;
    background-color: black;
    height: 100px;
}

#subject2-row1{
    margin-top: 100px;
    
}
#subject2-row2{
    margin:10px;
}
#subject2-row3{
    margin:10px;
}
#subject3-row1{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#subject3-row2{
    margin:10px;
}
#subject3-row3{
    margin:10px;
}

/*carousel start*/

.container { 
    align-self: center;
}
 
    
#carouselExampleIndicators {
    height: 600px;
    -webkit-box-shadow: 1px 3px 32px -1px rgba(128,128,128,1);
    -moz-box-shadow: 1px 3px 32px -1px rgba(128,128,128,1);
    box-shadow: 1px 3px 32px -1px rgba(128,128,128,1);
    background-color: white;
    border-radius: 20px;
       
}
   
.carousel-inner .carousel-item {
    color: black;
    background-color:white;
    }

.carousel-indicators {
    text-align: center;
    font-size: 1em;
    margin-left: 0%;
    margin-right: 60%;
 }
   
.column1 {
    left: 15px;
   }

/*carousel end*/
      
/*button start*/
       
 #btn1 {
     background-color:#2d9cc2;
    border: none;
    color: black;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-style: solid;
    width: 15em;
    border-width: 1px;
    margin: 10px;
    border-radius: 8em;
    outline: none; 
    font-weight: bolder;
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    -webkit-transition: width 0.7s, height 0.7s; 
    -o-transition: width 0.7s;
    border-color: #2d9cc2;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;  
    transition: 0.2s all; 
    margin-left: 3%;
}
#btn1:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 
        
#btn2 {
    background-color:white;         
    border: none;         
    color: black;
    text-align: center;        
    text-decoration: none;         
    display: inline-block;         
    font-size: 1em;          
    border-style: solid;          
    width: 5em;
    border-width: 1px;
    margin: 10px;
    border-radius: 8em;
    outline: none; 
    font-weight: bolder;
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    -webkit-transitio\n: width 0.7s, height 0.7s; 
    -o-transition: width 0.7s;
    border-color: #2d9cc2;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;  
    transition: 0.2s all; 
}

#btn2:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    } 

#btn3 {
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-style: solid;
    width: 5em;
    border-width: 1px;
    margin: 10px;
    border-radius: 8em;
    outline: none; 
    font-weight: bolder;
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    -webkit-transition: width 0.7s, height 0.7s; 
    -o-transition: width 0.7s;
    border-color: #2d9cc2;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;  
    transition: 0.2s all; 
}
        
#btn3:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    } 
/*button end*/
/*
@media screen and (max-width:432px){

    .topic{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }
    .carousel-inner .carousel-item{
        height: 600px;

    }
    #subject1{
    margin-top: 40px;
    
    }
    #subject2-row1{
    margin: 10px;
    
    }
    #subject2-row2{
        margin:10px;
    }
    #subject3-row1{
        margin: 10px;
    }
    #subject3-row1{
        margin-top: 10px;
    }
    .divsize2{
        height:80px;
    }
    .divsize3{
        height: 45px;
    }
}*/
.card{
    margin-bottom: 40px;
    border-color: rgb(45, 156, 194);
}
@media only screen and (max-width:432px){
    .card{
        margin: 20px;
    }
    .carousel-inner .carousel-item{
        height: 100%;
    }
    .div1{
        font-size: 20px;
        margin: 15px;
        padding:10px;
    }
}



