.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-size: 1.8em;
}

.navbar-brand{
	font-size: 2em;
}
.navbar{
	background-color:white;
	height: 60px;
}
.glypicon{
	padding-left: 10px;

}


.header img{
	width:100%;
   height:100vh;
   background: 100% 100% no-repeat;
   opacity: 0.85;
}



.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



* {
  box-sizing: border-box;
}


/*k*/

.container {
    width: 1500px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: ;
    
}

.container .card {
    position: relative;
    border-radius: 10px;
    padding: 40px;
    
}

ul.ba {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}
li#topic {
    font-weight: bold;
}

/* unvisited link */
#a1:link {
    color: green;
    text-decoration: none;
  }
  
  /* visited link */
  #a1:visited {
    color: green;
    text-decoration: none;
  }
  
  /* mouse over link */
  #a1:hover {
    color: red;
    text-decoration: none;
  }
  
  /* selected link */
  #a1:active {
    color: blue;
    text-decoration: none;
  }


.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: rgb(43, 38, 38);
    transform: translateY(0px);
    color: black;
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
   
}



.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}



.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}

.footer {
    background-color:black;
    padding: 10px;
    
    
  }

  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding-right: 20px;
    }
  }

  .column {
    float: left;
    padding: 10px;
    color: white;
    text-align: left;
    padding-left: 50px;
  }
  
  
  .column.side {
    width: 25%;
    text-align: left;
  }
  
  
  @media screen and (max-width: 600px) {
    .column.side{
      width: 100%;
    }
  }

  ul.bb {
    list-style-type: none;
    padding: 0;
}
.button  {
    background-color:green; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .button1 {border-radius: 28px;}

  .button1:hover {
    background-color: red;
  }
/*k*/
  
